.products_container{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.products_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.products_summery{
    background-color: rgb(241, 241, 241);
}
.products_summery .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sticky h2{
    font-size: 22px;
    color: #ff6347;
    
}
.product_cart{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    margin: 5px;
}
.product_cart img{
    width: 80px;
    border: 5px solid #dddddd;
    padding: 5px;
    margin-right: 5px;
}
.cart_product_info p{
    font-size: 20px;
    color: #ff6347;
    margin: 0;
}
.cart_product_info h3{
    font-size: 22px;
    color: #363636;
    margin: 0;
}
.cart_warning{
    display: flex;
    align-content: center;
    justify-items: center;
    height: 100vh;
}
.cart_button{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.select_btn p{
    background-color: #ff6347;
    padding: 12px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
}
.unSeelct_btn p{
    background-color: #0477fa;
    padding: 12px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
}