.qna_section_container h1{
    margin-top: 70px;
    text-align: center;
    font-size: 38px;
    color: #363636;
}
.qna_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}
.qna_section h2{
    font-size: 26px;
    color: #ff6347;
}
.qna_section p{
    font-size: 18px;
    color: #363636;
}
.qna_section ul li{
    list-style-type: disc;
    font-size: 18px;
    color: #363636;
}